---
const { title } = Astro.props;
---

{title && <h3>{title}</h3>}
<div aria-label={title ?? "A grid"}>
	<slot />
</div>
<style>
	h3 {
		margin-top: 2rem;
		margin-bottom: 0.7rem;
	}
	div {
		gap: 0.7rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	}
</style>
