---
const { height = "7.813rem", id, ...props } = Astro.props;
---

<div id={id} {...props}></div>
<style define:vars={{ height }}>
	div {
		display: flex;
		justify-content: space-between;
		text-align: center;
		overflow-x: auto;
		gap: 1rem;
		margin-bottom: 1.2rem;
	}
	div > :global(a) {
		display: flex;
		flex-direction: column;
		gap: 4px;
		text-decoration: none;
		align-items: center;
		width: 7.813rem;
		opacity: 100%;
		transition: all 0.25s cubic-bezier(0.17, 0.85, 0.29, 0.95);
		text-shadow: var(--shadow-low);
	}
	div :global(a:hover) {
		opacity: 40%;
	}
	div :global(img) {
		width: 7.813rem;
		height: var(--height);
		border-radius: 8px;
		box-shadow: var(--shadow-low);
		object-fit: cover;
	}
	div :global(sub) {
		color: var(--text-secondary);
		font-size: 0.8rem;
	}
</style>
